@font-face {
    font-family: "DelaGothicOne";
    src: url('fonts/DelaGothicOne/DelaGothicOne-Regular.woff2') format('woff2'),
         url('fonts/DelaGothicOne/DelaGothicOne-Regular.woff') format('woff');
}

@font-face {
    font-family: "Raleway-Regular";
    src: url('fonts/RalewayFont/Raleway-Regular.woff') format('woff');
}
@font-face {
    font-family: "Raleway-Light";
    src: url("../fonts/RalewayFont/Raleway-Light.woff") format("woff"),
        url("../fonts/RalewayFont/Raleway-Light.eot") format("OpenType"),
        url("../fonts/RalewayFont/Raleway-Light.ttf") format("TrueType");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Raleway-Bold";
    src: url("../fonts/RalewayFont/Raleway-Bold.woff") format("woff"),
        url("../fonts/RalewayFont/Raleway-Bold.eot") format("OpenType"),
        url("../fonts/RalewayFont/Raleway-Bold.ttf") format("TrueType");
    font-weight: bold;
    font-style: normal;
}
body {
    box-sizing: border-box;
    font-family:"Raleway-Regular";
    font-size: 12px;
    height: 1141px;   
}
.header_button {
    display: none;
}

.header {
    display: flex;
    background-color: #FFFFFF;
    padding-top: 40px;
    padding-left: 81px;
    position: relative;
    justify-content: space-between;
}

.header__navigation {
    width: 33.3%;
    overflow: hidden;
    margin-top: 15px;
}

.header_nav_catalogue {
    display: inline-block;
}

.nav_item_link {
    text-decoration: none;
    font-family: "Raleway-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
    margin-left: 30px;
}

.item_catalogue {
    margin: 0;
}

.nav_item_link:hover {
    color: #DA1F39;
    font-weight: 700;
}

.header__logo {
    width: 33.3%;
    text-align: center;
}

.header__menu {
    width: 33.3%;
    margin-top: 5px;
}

.menu_list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.menu_item {
    display: inline-block;
}

.icon_arrow {
    position: relative;
  }
  
.icon_arrow::after {
    content: "";
    display: block;
    background: url(images/arrow_header.png) center no-repeat;
    height: 6px;
    width: 10px;
    position: absolute;
    padding-left: 5px;
    right: -15px;
    top: 50%;
    margin-top: -3px;
}

.item_language {
    font-family: "Raleway-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
    cursor: pointer;
}

.item_currency {
    margin-left: 32px;
    font-size: 20px;
    cursor: pointer;
}

.item_currency::after {
    right: -18px;
  }

.item_number {
    font-family: "Raleway-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    text-align: center;
    color: #000000;
    margin-left: 28px;
    text-decoration: none;
}

.item_search {
    margin-left: 20px;
    cursor: pointer;
}

.item_cart {
    margin-left: 15px;
    cursor: pointer;
}

.catalogue__dropdown {
   display: none;
}

.header_nav_catalogue:hover .catalogue__dropdown {
    display: flex;
    position: absolute;
    background-color: #FFFFFF;
    margin-top: 50px;
    width: 91vw;
}

.catalogue__navigation {
    width: 20%;
}

.catalogue_nav {
    list-style-type: none;
    padding: 0;
}

.catalogue_item {
    font-family: "DelaGothicOne";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    color: #9A9A9A;
    cursor: pointer;
    margin-bottom: 25px;
}

.catalogue_item:hover {
    color: #000000;
}

.catalogue_woman {
    width: 20%;
}

.woman_list {
    list-style-type: none;
    padding: 0;
}

.woman_item {
    font-family: "Raleway-Regular";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 166.19%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
    cursor: pointer;
    margin-bottom: 18px;
}

.woman_item:hover {
    color: #DA1F39;
    font-weight: 700;
}

.catalogue_image {
    width: 20%;
    margin-top: 36px;
}
.cart {
    height: 688px;
}
.cart-menu__mini {
    display: none;
}
.cart-menu {
    padding: 10px 0 20px 80px;
}

.cart-menu img {
    translate: 5px -3px;
}

.cart-grid {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 85px 43px 43px;
}

.cart-grid1 {
    grid-row: 1 / 4;
    
}

.cart-product__photo {
    float: right;
}

.cart-grid2 {
    
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    padding-left: 30px;
    font-size: 18px;
    font-weight: 600;
}

.cart-grid3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding-left: 30px;
    font-weight: 300;
    
}

.cart-grid4 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    font-weight: 600;
    
}
.cart-grid5 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    padding-left: 30px;
    font-weight: 300;
    
}

.cart-grid6 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    font-weight: 600;
   
}

.cart-grid7 {
    grid-column: 4 / 5;
    grid-row: 1 / 4;
   
}

.cart-grid8 {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
    padding-left: 15px;
    font-weight: 300;
    
}

.cart-grid9 {
    grid-column: 5 / 6;
    grid-row: 2 / 4;
    font-weight: 600;
}

.cart-grid10 {
    grid-column: 6 / 7;
    grid-row: 1 / 2;
    padding-left: 15px;
    font-weight: 300;
}

.cart-grid11 {
    grid-column: 6 / 7;
    grid-row: 2 / 4;
}

.cart-grid12 {
    grid-column: 7 / 8;
    grid-row: 1 / 2;
    padding-left: 15px;
    font-weight: 300;
    position: relative;
}

.cart-grid13 {
    grid-column: 7 / 8;
    grid-row: 2 / 4;
    font-weight: 600;
    
}

.cart-product__exit {
    position: absolute;
    right: 80px;
}

.cart-product__size form select{
    border: none;
}
.cart-total {
    display: flex;
    padding-top: 70px;
    padding-left: 80px;
    position: relative;
    flex-wrap: wrap;
}

hr {
    width: 305px;
    height: 1px;
    position: absolute;
    left: 80px;
    top: 50px;
    border: none;
    background-color: #000000;
}

.cart-total__total {
    padding-left: 128px;
    color: red;
    font-size: 16px;
    font-weight: 700;
}

.cart-total__btns {
    margin-left: auto;
}


.total {
    font-size: 16px;
    font-weight: 700;
}
button {
    width: 252px;
    height: 50px;
    background-color: #DA1F39;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    border: none;

}
.cart-total__a {
    padding-left: 39px;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    padding-right: 80px;
    text-transform: uppercase;
}
.cart-text {
    font-weight: 300;
    max-width: 670px;
    padding: 58px 0 174px 80px;
    line-height: 20px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    margin: 0;
}
.number input {
    border: none;
    width: 20px;
    font-size: 14px;
    margin-left: 10px;
}
.number .plus {
    font-size: 14px;
    padding: 5px;
    background-color: #e6e6e6;
    height: 31px;
    width: 31px;
    color: #9A9A9A;
    padding: 0 5px 0 5px;
}

.footer {
    height: 354px;
    background: url(../image/Rectangle86.png) no-repeat 100% 100%;
    background: #f4f4f4;
    padding: 70px 80px;
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;
    font-family: "Raleway-Light";
    box-sizing: border-box;
}

.footer-container__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer__link {
    text-decoration: none;
    color: black;
}

.footer-contacts__address {
    font-style: normal;
}

.footer-container,
.footer-container__nav {
    display: flex;
}

.footer-container__nav,
.footer-social,
.footer-contacts {
    flex-basis: auto;
}

.footer-contacts {
    margin-left: 315px;
}

.footer-social {
    margin-left: 178px;
}

.footer__logo {
    text-align: center;
    margin-bottom: 40px;
}

.footer-container__nav {
    gap: 50px;
}

.footer__image {
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 65px;
}

.footer-social__text,
.footer-contacts__text {
    text-decoration: underline;
}

.footer-contacts__tel,
.footer-contacts__address,
.footer-contacts__time {
    margin-top: 10px;
    font-feature-settings: "pnum";
    font-feature-settings: "lnum";
}

.footer__copyright {
    font-feature-settings: "pnum";
    font-feature-settings: "lnum";
}

.footer__data {
    margin-right: 20px;
}

.footer-container__item {
    margin-bottom: 10px;
}

.footer-container__item:last-child a {
    font-weight: 700;
    color: #da1f39;
    font-family: "Raleway-Bold";
}

.footer-container__item:last-child {
    margin-top: 40px;
}

.footer-contacts-mobile {
    display: none;
}

.footer__copyright-mobile {
    display: none;
}

@media screen and (max-width: 1085px) {
    .header {
        padding-left: 5vw;
    }
}

@media screen and (max-width: 1056px) {
    .nav_item_link {
        margin-left: 1vw;
    }

    .item_number {
        margin-left: 1vw;
    }

    .item_cart {
        margin-left: 1vw;
    }

    .item_search {
        margin-left: 1vw;
    }

    .catalog__dropdown {
        padding-left: 2vw;
    }
}

@media screen and (max-width: 947px) {
    .header {
        padding-left: 2vw;
    }
    
    .header__navigation {
        width: 33%;
    }

    .header__logo {
        width: 30%;
    }

    .header__menu {
        width: 37%;
    }

    .catalogue_image {
        display: none;
    }
    .catalogue__navigation {
        width: 25%;
    }

    .catalogue_woman {
        width: 25%;
    }
}


@media screen and (max-width: 815px) {
    .item_currency {
        display: none;
    }
    
    .item_number {
        display: none;
    }

    .item_language {
        display: none;
    }

    .menu_list {
        padding-left: 8vw;
    }
}

@media screen and (max-width: 792px) {
    .header {
        padding-top: 20px;
    }

    .header__navigation {
        width: 40%;
    }

    .header__logo {
        width: 35%;
    }

    .header__menu {
        width: 25%;
    }

    .menu_list {
        padding-left: 3vw;
    }

    .item_hover {
        font-size: 14px;
    }

    .header_nav_item {
        font-size: 14px;
    }

    .catalogue_item {
        font-size: 16px;
    }

    .woman_item {
        font-size: 12px;
    }
}
@media screen and (max-width: 768px) {

    .footer-container__nav,
    .footer-social,
    .footer-contacts {
        flex-basis: 30%;
    }

    .footer-contacts,
    .footer-social {
        margin-left: 50px;
    }

    .footer {
        padding: 50px 20px;
        height: auto;
    }

    .footer-container__nav {
        gap: 25px;
    }

    .footer span {
        display: block;
    }

    .footer__copyright-mobile {
        display: block;
    }
}
@media screen and (max-width: 640px) {
    .header {
        height: 33px;
    }
    
    .nav_item_link {
        display: none;
    }

    .header_button {
        display: contents;
    }

    .button_mobile {
        border: none;
        background-color: inherit;
        margin-top: 6px;
        padding: 0;
        cursor: pointer;
    }

    .button_mobile:active {
        box-shadow: 1px 4px 5px #bdbdbd;
    }

    .header__navigation {
        width: 25%;
        margin: 0;
    }

    .header__logo {
        width: 50%;
    }

    .header__menu {
        width: 25%;
    }
}

@media screen and (max-width: 376px) {
    .header {
        padding-left: 10px;
        padding-top: 8px;
    }

    .logo_img {
        width: 95px;
        height: 25px;
    }

    .search_img {
        width: 21px;
        height: 21px;
    }
   
    .cart-grid {
        grid-template-columns: 0.7fr 0.5fr 0.5fr ;
        grid-template-rows: 85px 35px 50px;
    }
    .cart_img {
        width: 21px;
        height: 21px;
    }

    .header_button {
        margin: 0;
        margin-top: 5px;
    }
    .cart-menu {
        display: none;
    }
    .cart-menu__mini {
        display: block;
        padding: 10px 0 20px 10px;
        font-size: 12px;
        font-weight: 600;
    }
    .cart-total {
        padding-left: 10px;
    }
    hr {
        left: 10px;
    }
    .cart-text {
        font-weight: 300;
        max-width: 350px;
        padding: 58px 0 174px 10px;
    }
    .cart-grid7, .cart-grid8,.cart-grid9,
    .cart-grid10, .cart-grid12  {
        display: none;
    }
    .cart-grid11,.cart-grid13 {
        position: absolute;
        top: 240px;
    }
    .cart-grid11 {
        right: 120px;
    }
    .cart-grid13 {
        right: 50px;
    }
    .cart-product__exit {
        right: 10px;
    }
    .cart-total__btns {
        padding-top: 30px;
    }
    .cart-total__btns button {
        margin-bottom: 30px;
        margin-right: 20px;
    }
    .cart-total__btns a {
        padding-left: 0px;
        padding-right: 0;
    }
    .cart-text{
        padding-top: 51px;
       
    }
    .footer-contacts,
    .footer__copyright {
        display: none;
    }

    .footer-container__nav,
    .footer-social {
        flex-basis: auto;
    }

    .footer {
        padding: 20px 10px;
    }

    .footer-social {
        margin-left: 15px;
        width: 35%;
    }

    .footer-container__nav {
        gap: 30px;
    }

    .footer__image {
        margin-right: 15px;
        margin-top: 7px;
        margin-bottom: 0px;
    }

    .footer-container__item:last-child {
        margin-top: 20px;
    }

    .footer-contacts-mobile {
        display: block;
        padding-top: 10px;
    }

    .footer__data {
        display: inline;
    }

    .footer__copyright-mobile {
        display: block;
    }

    .footer__copyright-mobile {
        font-feature-settings: "pnum";
        font-feature-settings: "lnum";
        margin-top: 20px;
    }

    .footer-social__images {
        justify-content: flex-start;
}
}



